.window {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 600px;
}

.option {
    

    max-width: 600px;
    margin: auto;
    padding: 20px 24px;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);

}

.option > *,
.option p,
.option button img,
.option div div {
    background-color: rgb(255, 255, 255);
}

.option div p {
    font-size: 20px;
}

.option p {
    font-size: 18px;
}
